body {
    background-color: rgb(240, 210, 167); /*設定背景顏色*/
    background-image: url("pic/toast.png"); /*在背景加入圖片*/
	background-repeat: no-repeat; /*背景圖片不重複*/
	background-attachment: scroll; /*背景圖不隨著滑鼠滾動*/
	background-position: 900px 0px; /*設定背景圖位置*/
	background-size: 100px auto; /*設定背景圖大小*/
}

h1 {
    text-shadow: 3px 3px 40px #000000; /*設定h1的文字陰影*/
}

div h3 {
    color: rgb(110, 29, 29); /*設定div中h3的文字顏色*/
    background-color: rgb(253, 238, 211); /*設定div中h3的背景顏色*/
}

ul.bar {
	font-size: 18px; /*設定ul class=bar的文字大小*/
	list-style-type: none; /*設定ul class=bar的list類型*/
	margin: 0; /*設定ul class=bar的邊界*/
	padding: 0px; /*設定ul class=bar的位置*/
	overflow: hidden;
}

li.guide {
	float: left; /*向左對齊*/
}

li a {
	display: block;/*顯示風格*/
	color: white; /*文字顏色*/
	background-color: rgb(83, 40, 5); /*背景顏色*/
	text-align: center; /*文字向中對齊*/
	padding: 3px 20px; /*選單大小範圍*/
	text-decoration: none; /*文字外型*/
	font-size: 16px; /*文字大小*/
}
li a:hover {
	background-color: rgb(255, 208, 0); /*滑鼠移動到上面時的背景顏色*/
    color: brown; /*滑鼠移動到上面時的文字顏色*/
}

button {
    background-color: rgb(82, 39, 11); /*按鈕背景色*/
    color: white; /*按鈕文字顏色*/
}
